<%- include("../partials/header") %>
<%- include("../partials/navbar") %>



<main class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="card show-card">
                <img src="<%=product.img%>" class="card-img-top" alt="product image">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <p class="card-text"><%=product.desc%></p>
                  <h5 class="card-title"><i class="fas fa-rupee-sign"></i><%=product.price%></h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                  <a href="#" class="btn btn-success">Add To Cart</a>
                  <a href="/products/<%=product._id%>/edit" class="btn btn-info">Edit</a>
                  
                  <form class="mt-2" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <h1 class="display-6">Leave a Review</h1>
        </div>
    </div>

</main>



<%- include("../partials/footer") %>