<%- include("../partials/header") %>
<%- include("../partials/navbar") %>



<main class="container">

    <%- include("../partials/flash") %>


    <div class="row">
            <div class="col-lg-6">
                <%for(let item of cart){%>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="<%=item.img%>" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title"><%=item.price%></h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                  <%}%>
            </div>
            <div class="col-lg-4">
                <ul class="list-group">
                    <%let totalAmount=0%>
                    <%for(let item of cart){%>
                        <li class="list-group-item"> <strong><%=item.name%></strong> : <%=item.price%> </li>
                        <% totalAmount+=item.price %>    
                    <% } %> 
                    <li class="list-group-item"> <strong>Total Amount</strong> : <%=totalAmount%> </li>
                </ul>
                <div class="mt-3">
                    <a href="" class="btn btn-success btn-small">Pay Now</a>
                </div>
               
            </div>
       

    </div>

</main>



<%- include("../partials/footer") %>